.modal__winner {
  height: 80%;
}

.modal-title {
  border-bottom: 3px solid black;
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}

.winners-section {
  width: 80%;
}

.winner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
